{% extends 'basic.html' %}
{% load static %}
{% block body %}

    <title>
        History
    </title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='' rel='stylesheet'>
    <style>
        body {
            background-color: #f9f9fa
        }
       
        .flex {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto
        }
       
        @media (max-width:991.98px) {
            .padding {
                padding: 1.5rem
            }
        }
       
        @media (max-width:767.98px) {
            .padding {
                padding: 1rem
            }
        }
       
        .padding {
            padding: 5rem
        }
       
        .card {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none
        }
       
        .pl-3,
        .px-3 {
            padding-left: 1rem !important
        }
       
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #d2d2dc;
            border-radius: 0;
            width:859px;
        }
       
        .card .card-title {
            color: #000000;
            margin-bottom: 0.625rem;
            text-transform: capitalize;
            font-size: 0.875rem;
            font-weight: 500
        }
       
        .card .card-description {
            margin-bottom: .875rem;
            font-weight: 400;
            color: #76838f
        }
       
        p {
            font-size: 0.875rem;
            margin-bottom: .5rem;
            line-height: 1.5rem
        }
       
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }
       
        .table,
        .jsgrid .jsgrid-table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: transparent
        }
       
        .table thead th,
        .jsgrid .jsgrid-table thead th {
            border-top: 0;
            border-bottom-width: 1px;
            font-weight: 500;
            font-size: .875rem;
            text-transform: uppercase
        }
       
        .table td,
        .jsgrid .jsgrid-table td {
            font-size: 0.875rem;
            padding: .875rem 0.9375rem
        }
       
        .badge {
            border-radius: 0;
            font-size: 12px;
            line-height: 1;
            padding: .375rem .5625rem;
            font-weight: normal
        }
    </style>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>


<body class='snippet-body'>
    <form action="" onsubmit="return isValidForm()" method="post">
        {%csrf_token%}
    <div class="page-content page-container table" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">History</h4>
                            <p class="card-description"> Your Previous Reservation </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Court_Type</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for h in History %}
                                        {% if h not in at %}
                                        <tr>
                                            <td>{{h.Reserved_person}}</td>
                                            <td>{{h.Court_Types}},{{h.Court_Person}}</td>
                                            <td>{{h.Date}}</td>
                                            <td>{{h.Start_Time}}</td>
                                            <td><label class="badge badge-success">Completed</label></td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                        <td>{{h.Reserved_person}}</td>
                                        <td>{{h.Court_Types}},{{h.Court_Person}}</td>
                                        <td>{{h.Date}}</td>
                                        <td>{{h.Start_Time}}</td>
                                        <td><button value="{{h.id}}"name="button">Cancel</button></td>
                                    </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    </body>

    <script>
        function isValidForm(){
            // alert("Are you Sure You will be charged 100Rs")
        var val = window.confirm("Are you sure you will be charged 100Rs?")
        if (val) {
            return true
        } else {
            return false
        }
        }
    </script>
{% endblock %}