{% extends 'basic.html' %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{%block css%}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

*{
user-select: none;
padding: 0;
margin: 0;
scroll-behavior: smooth;
}
footer{
text-align: center;
}


.footer-dark {
padding:50px 0;
color:#f0f9ff;
background-color:#282d32;

}

.footer-dark h3 {
margin-top:0;
margin-bottom:12px;
font-weight:bold;
font-size:16px;
}

.footer-dark ul {
padding:0;
list-style:none;
line-height:1.6;
font-size:14px;
margin-bottom:0;
}

.footer-dark ul a {
color:inherit;
text-decoration:none;
opacity:0.6;
}

.footer-dark ul a:hover {
opacity:0.8;
}

@media (max-width:767px) {
.footer-dark .item:not(.social) {
text-align:center;
padding-bottom:20px;
}
}

.footer-dark .item.text {
margin-bottom:36px;
}

@media (max-width:767px) {
.footer-dark .item.text {
margin-bottom:0;
}
}

.footer-dark .item.text p {
opacity:0.6;
margin-bottom:0;
}

.footer-dark .item.social {
text-align:center;
}

@media (max-width:991px) {
.footer-dark .item.social {
text-align:center;
margin-top:20px;
}
}

.footer-dark .item.social > a {
font-size:20px;
width:36px;
height:36px;
line-height:36px;
display:inline-block;
text-align:center;
border-radius:50%;
box-shadow:0 0 0 1px rgba(255,255,255,0.4);
margin:0 8px;
color:#fff;
opacity:0.75;
}

.footer-dark .item.social > a:hover {
opacity:0.9;
}

.footer-dark .copyright {
text-align:center;
padding-top:24px;
opacity:0.3;
font-size:13px;
margin-bottom:0;
}
.navbutton {
margin-right: 30px;
padding:4px 5px;
border-radius: 10px;
color: white;
background-color: black;
text-align: center;
text-decoration: none;
width:80px;
height:35px;
}
.box {
position: relative;
background-color: rgb(179, 175, 167);
width: 400px;
height: 200px;
top: 730px;
left: 556px;
padding: 10px;
border-radius: 10px;
box-shadow: 10px 10px 8px 10px #dde7a1;
}
.navbutton {
margin-right: 30px;
padding:4px 5px;
border-radius: 10px;
color: white;
background-color: black;
text-align: center;
text-decoration: none;
width:60px;
height:35px;
position:relative;
left:10px;
}


.navbutton:hover{
text-decoration: none;
color:lightblue;
transition: .4s;
}
.block{
position: relative;
background-color: rgb(179, 175, 167);
width: 400px;
height: 100px;
top: 540px;
left: -300px;
padding: 10px;
border-radius: 10px;
box-shadow: 10px 10px 8px 10px #dde7a1;
}


.card{
margin-bottom: 10px;
}
{% endblock %}

{% block body%}
<br> <br>
<form action="#" method="post">
  {%csrf_token%}

  <div class="row mx-7 ">


    <div class="card" style="width: 18rem;  position: relative;left: 300px; background-color: rgb(216, 210, 210);">
      <img class="card-img-top" src="{% static 'club_app/basic2.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basic Membership</h5>

        <p>01 Month Membership</p>
        <p>No Resources Free</p>
        <p>Fee: 100 Rupees</p>
      </div>
    </div>

    <div class="card" style="width: 18rem; position: relative;left: 375px; background-color: rgb(216, 210, 210);">
      <img class="card-img-top" src="{% static 'club_app/standard2.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Standard Membership</h5>
        <p>06 Months Membership</p>
        <p>Some Resources Free</p>
        <p>Fee: 600 Rupees</p>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem; position: relative;left: 450px; background-color: rgb(216, 210, 210);">
      <img class="card-img-top" src="{% static 'club_app/premium3.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Premium Membership</h5>
        <p>01 Year Membership</p>
        <p>All Resources Free</p>
        <p>Fee: 1200 Rupees</p>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>

    </div>



    <div class="block">
      <p>Click Here to apply for Membership</p>
      <label for="cars">Select Here:</label>

      <select name="membership_type" id="cars">
        <option value="Premium Membership">Premium Membership</option>
        <option value="Standard Membership">Standard Membership</option>
        <option value="Basic Membership">Basic Membership</option>
      </select>
      <button class="navbutton">select</button>
    </div>

</form>


</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Contact Info</h3>
          <ul>
            <li><a href="#">University of Engineering and Technology,<br>Lahore</a></li>
            <li><a href="#">03115524264</a></li>
            <li><a href="#">uetupdates@gmail.com</a></li>
            <br>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3></h3>
          <p>The Club is a sports club founded in 2021 in Lahore, Pakistan. It offers sports facilities
            such as tennis.
            The Club provides different Membership to its user according to their plans. The Club is
            spread over 117.03 acres.</p>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
              class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
            href="#"><i class="icon ion-social-instagram"></i></a></div>
      </div>

    </div>

    <p class="copyright">Company Name © Club Reservations</p>
  </footer>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a16b34b2f0.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}