<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body {

        height: 100vh;
        width: 100%;
        background: url("{% static 'club_app/bg.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Poppins', sans-serif;
        opacity: 0.8;
    }


    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -30px;
    }

    .container {
        margin: auto;
        /* for  setting the container to center*/
        width: 30%;
        /*making the container half width wise*/
        padding: 30px;
        /*internal distance bt text and the borders*/
        border-radius: 20px;
        background-color: white;
        position: relative;
        top: 70px;
        margin-top: 50px;
        box-shadow: 0px 20px 20px 0px rgba(5, 5, 5, 0.7)
            /*for providing the shadow*/
    }

    input[type='text'],
    input[type='text'] {
        width: 60%;
        padding: 15px;
        position: relative;
        left: 150px;
        top: -40px;
        border: none;
        background: rgb(202, 200, 200);
        display: inline-block;
        margin: 5px 0 22px 0;
    }

    .btn {
        color: white;
        width: 20%;
        border-radius: 30px;
        padding: 15px;
        border: none;
        background: teal;
        margin: 5px 0 22px 0;
        font-family: 'Poppins', sans-serif;
    }

    .btn:hover {
        box-shadow: 3px 3px 1px rgb(1, 51, 51);
        position: relative;
        top: -2px;
        transition: 0.1s ease-in;
        cursor: pointer;
    }

    #submit {
        display: flex;
        justify-content: center;
        align-items: center;

    }

</style>

<body>
    <div class="container" id="Event">
        <form class="log" action="#" method="POST">
            {%csrf_token%}
            <h1>Payment</h1>
            {% if p == 1  %}
            <label for="fn">Email Address</label> <br>
            <input type="text" name="name" value="{{email}} {{court_id}}" readonly>
<br>
            <label for="psw">Start Date</label> <br>
            <input type="text" name="desc" value="{{start_date}}" readonly> <br>


            <label for="psw">End Date</label> <br>
            <input type="text" name="fee" value="{{end}}" readonly> <br>
            <label for="psw">Applying Fee</label> <br>
            <input type="text" name="fee" value="{{fee}}" readonly> 
            {% else %}
            <label for="fn">Email Address</label> <br>
            <input type="text" name="name" value="{{email}}" readonly>
<br>
            <label for="psw">Start Time</label> <br>
            <input type="text" name="Start_Time" value="{{Start_Time}}" readonly> <br>


            <label for="psw">End Time</label> <br>
            <input type="text" name="End_Time" value="{{End_Time}}" readonly> <br>
            <label for="psw">Fee</label> <br>
            <input type="text" name="fee" value="{{payment}}" readonly> 

            {% endif %}

            
            <br>
            <div id="submit">
                <button class="btn" type="submit">Pay</button>
            </div>
        </form>
    </div>
</body>

</html>